<a href="https://colab.research.google.com/github/Mellow-py/Data-Analysis-Project/blob/main/DSFE_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
data = pd.read_csv('/content/WIDE_2021-01-28_v1.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
data.head()

  iso_code               region_group  ... slevel4_m slevel4_no
0      AFG  Central and Southern Asia  ...       NaN        NaN
1      AFG  Central and Southern Asia  ...       NaN        NaN
2      AFG  Central and Southern Asia  ...       NaN        NaN
3      AFG  Central and Southern Asia  ...       NaN        NaN
4      AFG  Central and Southern Asia  ...       NaN        NaN

[5 rows x 86 columns]

In [ ]:
data.describe()

               year        grade  ...    slevel4_m   slevel4_no
count  35900.000000  8016.000000  ...  1335.000000  1335.000000
mean    2008.813008     5.117889  ...     0.193972   401.199251
std        4.605921     1.967788  ...     0.150635   664.613315
min     1999.000000     2.000000  ...     0.007500    30.000000
25%     2006.000000     4.000000  ...     0.072300    76.000000
50%     2010.000000     4.000000  ...     0.149700   182.000000
75%     2012.000000     8.000000  ...     0.292650   447.000000
max     2017.000000     8.000000  ...     0.659000  6936.000000

[8 rows x 72 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35900 entries, 0 to 35899
Data columns (total 86 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   iso_code                  35900 non-null  object
 1   region_group              35900 non-null  object
 2   income_group              35900 non-null  object
 3   country                   35900 non-null  object
 4   survey                    35900 non-null  object
 5   year                      35900 non-null  int64
 6   level                     13712 non-null  object
 7   grade                     8016 non-null   float64
 8   category                  35899 non-null  object
 9   Sex                       21466 non-null  object
 10  Location                  11386 non-null  object
 11  Wealth                    25805 non-null  object
 12  Region                    15309 non-null  object
 13  Ethnicity                 1756 non-null   object
 14  Religion                  867 non-null    object
 15  Language                  3131 non-null   object
 16  comp_prim_v2_m            13725 non-null  float64
 17  comp_lowsec_v2_m          13252 non-null  float64
 18  comp_upsec_v2_m           12893 non-null  float64
 19  comp_prim_1524_m          17409 non-null  float64
 20  comp_lowsec_1524_m        17487 non-null  float64
 21  comp_upsec_2029_m         17378 non-null  float64
 22  eduyears_2024_m           12444 non-null  float64
 23  edu2_2024_m               17395 non-null  float64
 24  edu4_2024_m               17395 non-null  float64
 25  eduout_prim_m             15108 non-null  float64
 26  eduout_lowsec_m           13397 non-null  float64
 27  eduout_upsec_m            11452 non-null  float64
 28  comp_prim_v2_no           13440 non-null  float64
 29  comp_lowsec_v2_no         13112 non-null  float64
 30  comp_upsec_v2_no          12752 non-null  float64
 31  comp_prim_1524_no         17409 non-null  float64
 32  comp_lowsec_1524_no       17487 non-null  float64
 33  comp_upsec_2029_no        17378 non-null  float64
 34  eduyears_2024_no          17395 non-null  float64
 35  edu2_2024_no              17395 non-null  float64
 36  edu4_2024_no              17395 non-null  float64
 37  eduout_prim_no            14843 non-null  float64
 38  eduout_lowsec_no          13140 non-null  float64
 39  eduout_upsec_no           11211 non-null  float64
 40  preschool_3_m             2590 non-null   float64
 41  preschool_3_no            2590 non-null   float64
 42  preschool_1ybefore_m      4110 non-null   float64
 43  preschool_1ybefore_no     4110 non-null   float64
 44  edu0_prim_m               14902 non-null  float64
 45  edu0_prim_no              14902 non-null  float64
 46  trans_prim_m              11347 non-null  float64
 47  trans_prim_no             11347 non-null  float64
 48  trans_lowsec_m            9586 non-null   float64
 49  trans_lowsec_no           9586 non-null   float64
 50  comp_higher_2yrs_2529_m   10344 non-null  float64
 51  comp_higher_2yrs_2529_no  10344 non-null  float64
 52  comp_higher_4yrs_2529_m   10344 non-null  float64
 53  comp_higher_4yrs_2529_no  10344 non-null  float64
 54  comp_higher_4yrs_3034_m   9865 non-null   float64
 55  comp_higher_4yrs_3034_no  9865 non-null   float64
 56  attend_higher_1822_m      13535 non-null  float64
 57  attend_higher_1822_no     13535 non-null  float64
 58  overage2plus_m            8560 non-null   float64
 59  overage2plus_no           8560 non-null   float64
 60  literacy_1524_m           7098 non-null   float64
 61  literacy_1524_no          7098 non-null   float64
 62  mlevel1_m                 2037 non-null   float64
 63  mlevel1_no                2037 non-null   float64
 64  rlevel1_m                 1100 non-null   float64
 65  rlevel1_no                1100 non-null   float64
 66  slevel1_m                 2007 non-null   float64
 67  slevel1_no                2007 non-null   float64
 68  mlevel2_m                 1967 non-null   float64
 69  mlevel2_no                1967 non-null   float64
 70  rlevel2_m                 1611 non-null   float64
 71  rlevel2_no                1611 non-null   float64
 72  slevel2_m                 1956 non-null   float64
 73  slevel2_no                1956 non-null   float64
 74  mlevel3_m                 1803 non-null   float64
 75  mlevel3_no                1803 non-null   float64
 76  rlevel3_m                 1555 non-null   float64
 77  rlevel3_no                1555 non-null   float64
 78  slevel3_m                 1830 non-null   float64
 79  slevel3_no                1830 non-null   float64
 80  mlevel4_m                 1288 non-null   float64
 81  mlevel4_no                1288 non-null   float64
 82  rlevel4_m                 1358 non-null   float64
 83  rlevel4_no                1358 non-null   float64
 84  slevel4_m                 1335 non-null   float64
 85  slevel4_no                1335 non-null   float64
dtypes: float64(71), int64(1), object(14)
memory usage: 23.6+ MB

In [ ]:
data.drop([:, 86056], axis = 0, inplace=True)

SyntaxError: ignored